{% extends "base.html" %}
{% block content %}
    <form method="post" id="mainForm">
        <div>
            <textarea name="msgtext" maxlength="140" cols="40" rows="6" id="textBox"
                      placeholder="Type your message here..."></textarea>
            <br>
            <p>Message remains <em>anonymous</em> unless 50% of users flag it
            <p>
                <button type="button" onclick="submitMsg()">Post Message</button>
                <input type="submit" name="submit_button" value="Post Message" id="submit_msg_button">
        </div>

        <input type="submit" name="submit_button" value="See All Messages" id="submit_query_all_button">

        <div>
            Message ID: <input type="number" name="msgID" size="8" min="0" id="msgIDBox">
            <button type="button" onclick="submitFlagID()">Flag Message</button>
            <button type="button" onclick="submitQueryID()">Query Message</button>

            <input type="submit" name="submit_button" value="Flag Message" id="submit_flag_button">
            <input type="submit" name="submit_button" value="Query Message" id="submit_query_button">
        </div>

    </form>

    <h3><a href="{{ url_for('logout') }}" class="button">Logout</a></h3>


    <footer>
        <p>Users Count: {{ numUsers }}</p>
        <p>Contact: rachit.rawat_asp19@ashoka.edu.in</p>
    </footer>

    <script>
        function submitMsg() {
            if (document.getElementById("textBox").value && document.getElementById("textBox").value !== "$HELLO$") {
                document.getElementById("submit_msg_button").click();
            } else {
                alert("Invalid message!")
            }
        }

        function submitFlagID() {
            if (document.getElementById("msgIDBox").value) {
                document.getElementById("submit_flag_button").click();
            } else {
                alert("Message ID cannot be empty!")
            }
        }

        function submitQueryID() {
            if (document.getElementById("msgIDBox").value) {
                document.getElementById("submit_query_button").click();
            } else {
                alert("Message ID cannot be empty!")
            }
        }
    </script>
{% endblock %}